.display-area {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.sentence {
    font-family: 楷体;
    font-size: larger;
}
.subject, .predicate, .object, .attribute, .adverbial {
    display: inline;
}
.subject {
    border-bottom: 4px double #228be6;
}
.predicate {
    border-bottom: 2px solid #228be6;
}
.object {
    border-bottom: 2px dashed #228be6;
}
.attribute::before {
    color: #228be6;
    content: '(';
}
.attribute::after {
    color: #228be6;
    content: ')';
}
.adverbial::before {
    color: #228be6;
    content: '[';
}
.adverbial::after {
    color: #228be6;
    content: ']';
}
.button {
    background-color: #ff69b4;
    color: #ffffff;
    margin: 0px auto;
    padding: 10px;
    border-radius: 20px;
    display: block;
    border: none;
}
li {
    margin: 3px 0px;
}